{{template "template-start.html" .}}

    
    <div class="form-layout">
        <h3>{{.title}}</h3>
            <strong>Domains</strong>

            {{range .model}}
                <form  method="POST">
                    <div class="form-group">
                        <input readonly name="domain" value="{{.}}" />
                        <wa-button type="submit" name="action" value="delete"><wa-icon name="remove"></wa-icon></wa-button>
                    </div>
                </form>
            {{end}}

            <br />
            <form method="POST">
                <div class="form-group">
                    <input name="domain" value="" required />
                    <wa-button type="submit" name="action" value="add"><wa-icon name="plus"></wa-icon></wa-button>
                </div>
            </form>

            {{if .error}}
                <p><label class="error-message">{{.error}}</label></p>
            {{end}}

    </div>

{{template "template-end.html" .}}
