{{template "template-start.html" .}}

    <form method="post">
        <div class="form-layout">
            <h3>{{.title}}</h3>
                <div class="form-group">
                    <label for="rulesetname">Rule Set</label>
                    <input type="text" id="rulesetname" name="rulesetname" value="{{.model.RuleSet.RuleSetName}}" required/>
                </div>

                <div class="form-group">
                    <label>Category</label>
                    <wa-select name="categoryid" value="{{.model.RuleSet.CategoryId}}" required>
                        {{range .model.Categories}}
                            <wa-option value="{{.CategoryId}}">{{.CategoryName}}</wa-option>
                        {{end}}
                    <wa-select>
                </div>

                <div class="form-group">
                    <label for="enabled">Enabled</label>
                    <wa-switch id="enabled" name="enabled" {{if .model.RuleSet.Enabled}}checked{{end}}>Enabled</wa-switch>
                </div>

                <div class="form-group">
                    <label for="external">Update Source</label>
                    <wa-switch id="source_external" name="external" {{if .model.RuleSet.External}}checked{{end}}>External (web)</wa-switch>
                </div>

                <div id="divSource" class="form-group {{if not .model.RuleSet.External}}hidden{{end}}">
                    <label for="source">Update Source</label>
                    <input type="text" id="source" name="source" value="{{.model.RuleSet.Source}}" required />
                </div>

                <div id="divSchedule" class="form-group {{if not .model.RuleSet.External}}hidden{{end}}">
                    <label for="schedule">Update schedule</label>
                    <input type="text" id="schedule" name="schedule" value="{{.model.RuleSet.Schedule}}" />
                </div>
                
                <p><div class="error-message">{{.error}}</div></p>
                <div class="button-group">
                    <wa-button variant="primary" type="submit" name="action" value="{{.action}}"><wa-icon name="save"></wa-icon> {{if eq $.action "create"}}Create{{else}}Save{{end}}</wa-button>
                    <wa-button variant="default" href="../rulesets" outline><wa-icon name="arrow-left"></wa-icon> Cancel</wa-button>

                    {{if eq $.action "edit"}}
                        <span class="right">
                            <wa-button href="../rulesets/delete/{{.model.RuleSet.RuleSetId}}" variant="danger" outline><wa-icon name="xmark"></wa-icon> Delete</wa-button>
                        </span>
                    {{end}}
                </div>                    
        </div>
    </form>

    <style>
        .hidden {
            display: none
        }
    </style>
    <script>
        document.onreadystatechange = function () {
        if (document.readyState === "complete") {
                source_external.addEventListener('sl-change', function() {
                      divSource.className = source_external.checked ? 'form-group' : 'form-group hidden';
                      divSchedule.className = source_external.checked ? 'form-group' : 'form-group hidden';
                      source.required = source_external.checked;
                      schedule.required = source_external.checked;
                })
            }
        }
    </script>


{{template "template-end.html" .}}