<!doctype html>
<html>
{{template "header.html"}}
<body>
        <h1>Welcome</h1>
    <p>Please login to continue</p>
    <form method="POST">
    <input type="hidden" name="sleuth_orig" value="{{.orig}}">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit" name="sleuth_action" value="login">Login</button>
    </form>
</body>