<!doctype html>
<html>
    <head>
    {{template "template-head.html" .}}
        <link rel="stylesheet" href="/lib/login.css" />
    </head>

    <body class="login-body">
        <form method="post">
        <div class="login-dialog">
            <h2>Welcome</h2>
                <input type="hidden" name="sleuth_orig" value="{{.orig}}">
                {{if eq .portal_address ""}}
                    <b>Admin Portal</b>
                {{else}}
                    <a href="{{.portal_address}}">Admin Portal</a>
                {{end}}
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                </div>
                
                {{if .message}}
                    <div >
                        {message}
                    </div>
                {{end}}
                {{if .error}}
                    <div class="error-message">
                        {{.error}}
                    </div>
                {{end}}
                <br />

                <div class="button-group">
                    <wa-button variant="primary" type="submit" name="sleuth_action" value="login">Login</wa-button>
                    {{if .allow_register}}
                    <wa-button variant="primary" type="submit" name="sleuth_action" value="register">Register</wa-button>
                    {{end}}
                </div>
        </div>
        </form>
    </body>