{{template "template-start.html" .}}

    <span class="right"><sl-icon-button name="person-plus" href="users/new"></sl-icon></span>
    <h2>Users</h2>
    <table border="1" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th>User</th>
                <th>Full Name</th>
                <th>Admin</th>
                <th>Enabled</th>
            </tr>
        </thead>
        <tbody>
            {{range .model.Users}}
            <tr>
                <td><a href="user/{{.UserName}}"><sl-icon name="pencil-square"></sl-icon></a>&nbsp;{{.UserName}}</td>
                <td>{{.FullName}}</td>                   
                <td>{{if .Admin}}Yes{{else}}No{{end}}</td>                   
                <td>{{if .Enabled}}Yes{{else}}No{{end}}</td>                   
            </tr>
            {{end}}
        </tbody>
    </table>


{{template "template-end.html" .}}