{{template "template-start.html" .}}

    <form method="post">
        <div class="form-layout">
            <h3>{{.title}}</h3>
                <p>Are you sure you want to reset user password for <strong>{{.model.User.UserName}}</strong>?</p>

                <p><label class="error-message">{{.error}}</label>
                <wa-alert variant="primary" open>
                    <wa-icon slot="icon" name="info-circle"></wa-icon>
                    <strong>User will be prompted for a new password upon next logon</strong><br/>
                    Reset will expire in 60 minutes.
                </wa-alert>
                </p>

                <div class="button-group">
                    <wa-button variant="warning" type="submit" name="action" value="reset"><wa-icon name="key" slot="prefix"></wa-icon>Reset</wa-button>
                    <wa-button variant="default" href="../../user/{{.model.User.UserName}}" outline><wa-icon name="arrow-return-left" slot="prefix"></wa-icon>Cancel</wa-button>
                </div>
        </div>
    </form>


{{template "template-end.html" .}}