{{template "template-start.html" .}}

    <h3>Users</h3>
    <p>
        <table border="1" cellspacing="0">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Full Name</th>
                </tr>
            </thead>
            <tbody>
                {{range .model.Users}}
                <tr>
                    <td>{{.UserName}}</td>
                    <td>{{.FullName}}</td>                   
                </tr>
                {{end}}
            </tbody>
        </table>
    </p>


{{template "template-end.html" .}}