{{template "template-start.html" .}}

    <span class="right"><wa-icon-button name="plus-square" href="roles/new"></wa-icon></span>
    <h2>Roles</h2>
    <table border="1" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th>Role</th>
                <th>Admin</th>
            </tr>
        </thead>
        <tbody>
            {{range .model.Roles}}
            <tr>
                <td><a href="role/{{.RoleName}}"><wa-icon name="pencil-square"></wa-icon></a>&nbsp;{{.RoleName}}</td>
                <td>{{if .Admin}}Yes{{else}}No{{end}}</td>                   
            </tr>
            {{end}}
        </tbody>
    </table>


{{template "template-end.html" .}}