{{template "template-start.html" .}}

    <form method="post">
        <div class="form-layout">
            <h3>{{.title}}</h3>
                <p>Are you sure you want to delete device <strong>{{.model.Device.HostName}}</strong>?</p>
                
                <p><label class="error-message">{{.error}}</label></p>
                <div class="button-group">
                    <sl-button variant="danger" type="submit" name="action" value="delete"><sl-icon name="person-dash" slot="prefix"></sl-icon>Delete</sl-button>
                    <sl-button variant="default" href="../../user/{{.model.User.UserName}}" outline><sl-icon name="arrow-return-left" slot="prefix"></sl-icon>Cancel</sl-button>
                </div>
        </div>
    </form>


{{template "template-end.html" .}}