{{template "template-start.html" .}}

    <form method="post">
        <div class="form-layout">
            <h3>{{.title}}</h3>
                <p>Are you sure you want to delete device <strong>{{.model.Device.HostName}}</strong>?</p>
                
                <p><label class="error-message">{{.error}}</label></p>
                <div class="button-group">
                    <wa-button variant="danger" type="submit" name="action" value="delete"><wa-icon name="xmark"></wa-icon> Delete</wa-button>
                    <wa-button variant="default" href="../../user/{{.model.User.UserName}}" outline><wa-icon name="arrow-return-left"></wa-icon>Cancel</wa-button>
                </div>
        </div>
    </form>


{{template "template-end.html" .}}