<!doctype html>
<html>
    <head>
    {{template "template-head.html" .}}
        <link rel="stylesheet" href="/lib/login.css" />
    </head>

    <body class="login-body">
        <form method="post">
        <div class="login-dialog">
            <h2>Password reset</h2>
                <input type="hidden" name="sleuth_orig" value="{{.orig}}">
                <div class="form-group">
                    <label for="username">Username</label>
                    <sl-input type="text" id="username" name="username" value="{{.username}}" readonly></sl-input>                
                </div>
                <div class="form-group">
                    <label for="password">Enter New Password</label>
                    <sl-input type="password" id="password" name="new_password" required></sl-input>
                </div>
                <div class="form-group">
                    <label for="password">Confirm Password</label>
                    <sl-input type="password" id="password" name="confirm_password" required></sl-input>
                </div>
                <div class="button-group">
                    <sl-button variant="primary" type="submit" name="sleuth_action" value="reset_password">Continue</sl-button>
                </div>
        </div>
            </form>
    </body>