{{template "template-start.html" .}}

    <form method="post">
        <div class="form-layout">
            <h3>{{.title}}</h3>
                <div class="form-group">
                    <label for="Name">Name</label>
                    <wa-input type="text" id="Name" name="Name" value="{{.model.Configuration.Name}}" required {{if eq $.action "edit"}}readonly{{end}}></wa-input>
                </div>

                <div class="form-group">
                    <label for="Raw">Raw</label>
                    <wa-textarea id="Raw" name="Raw" value="{{.model.Configuration.Raw}}"></wa-textarea>
                </div>

                <div class="form-group">
                    <label for="Enabled">Enabled</label>
                    <wa-switch id="Enabled" name="Enabled" {{if .model.Configuration.Enabled}}checked{{end}}>Enabled</wa-switch>
                </div>


                <p><div class="error-message">{{.error}}</div></p>

                <div class="button-group">
                    <wa-button variant="primary" type="submit" name="action" value="{{.action}}"><wa-icon name="save"></wa-icon> {{if eq $.action "create"}}Create{{else}}Save{{end}}</wa-button>
                    <wa-button variant="default" href="../wafconfigurations" outline><wa-icon name="arrow-left"></wa-icon> Cancel</wa-button>

                    {{if eq $.action "edit"}}
                        <span class="right">
                            <wa-button href="../wafconfigurations/delete/{{.model.Configuration.Name}}" variant="danger" outline><wa-icon name="xmark"></wa-icon> Delete</wa-button>
                        </span>
                    {{end}}
                </div> 
        </div>
    </form>

    <style>
        .hidden {
            display: none
        }
    </style>
    

{{template "template-end.html" .}}