{{template "template-start.html" .}}

    <h2>Stats</h2>

    <form>

        <div class="form-group">
            <label for="ip">IP</label>
            <wa-input name="ip" value="{{.IP}}" />
        </div>

        <p>
            <h4>Traffic</h4>
            <table border="1" cellspacing="0">
                <thead>
                    <tr>
                        <th>Since</th>
                        <th>Temp IP</th>
                        <th>Host</th>
                        <th>IP</th>
                        <th>Bytes</th>
                        <th>Duration</th>
                    </tr>
                </thead>
                <tbody>
                    {{range .stats}}
                    <tr>
                        <td>{{.Since}}</td>
                        <td>{{.TempIP}}</td>
                        <td>{{.Host}}</td>
                        <td>{{.IP}}</td>
                        <td>{{.Bytes}}</td>
                        <td>{{.Duration}}</td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </p>
    </form>


{{template "template-end.html" .}}