{{template "template-start.html" .}}

    <h2>Network</h2>

    <p>
        <h4>Adapters</h4>
        <table border="1" cellspacing="0">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Speed</th>
                </tr>
            </thead>
            <tbody>
                {{range .model.adapters}}
                <tr>
                    <td>{{.Name}}</td>
                    <td>{{.HardwareAddr}}</td>
                    <td>{{.MTU}}</td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </p>

    <p>
        <h4>Neighbors</h4>
        <table border="1" cellspacing="0">
            <thead>
                <tr>
                    <th>Device Profile</th>
                    <th>IP</th>
                    <th>MAC</th>
                    <th>Last Seen</th>
                    <th>Dns</th>
                    <th>Mdns</th>
                    <th>Nbns</th>
                </tr>
            </thead>
            <tbody>
                {{range .model.nodes}}
                <tr>
                    <td><a href="../profiles/device/{{.Mac}}"><wa-icon name="pencil-square" title="{{.DeviceTitle}}"></wa-icon></a>&nbsp;{{.DeviceName}}</td>
                    <td>{{.IP}}</td>
                    <td>{{.Mac}}</td>
                    <td>{{.LastSeen}}</td>
                    <td>{{.Dns}}</td>
                    <td>{{.Mdns}}</td>
                    <td>{{.Nbns}}</td>
                </tr>
                {{end}}
            </tbody>
        </table>
        {{ if .model.error }}
        <wa-alert variant="danger" open>
        <wa-icon slot="icon" name="exclamation-octagon"></wa-icon>
        <strong>{{.model.error}}</strong><br />
        </wa-alert>
        {{ end }}
    </p>

{{template "template-end.html" .}}