{{template "template-start.html" .}}

    <h2>Users</h2>

    <wa-tab-group>
        <wa-tab slot="nav" panel="local-users">Local Users</wa-tab>
        <wa-tab slot="nav" panel="remote-users">Remote Users</wa-tab>
        <wa-tab-panel name="local-users">
            <h2>Local Users</h2>
                {{ if .model.LocalUsersError }}
                <wa-alert variant="danger" open>
                <wa-icon slot="icon" name="exclamation-octagon"></wa-icon>
                <strong>{{.model.LocalUsersError}}</strong><br />
                </wa-alert>
                {{ end }}
                
            <p>
                <table border="1" cellspacing="0">
                    <thead>
                        <tr>
                            <th>UID</th>
                            <th>Username</th>
                            <th>Superuser</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .model.LocalUsers}}
                        <tr>
                            <td>{{.UID}}</td>
                            <td>{{.Username}}</td>
                            <td>{{if .SuperUser}}Yes{{end}}</td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </p>
        </wa-tab-panel> 
        <wa-tab-panel name="remote-users">
            <h2>Remote Users</h2>
            <p>Todo</p>
        </wa-tab-panel>
    </wa-tab-group>

{{template "template-end.html" .}}