<button class="search-box" type="button" title="Press / to search" aria-label="Search" data-plugin="search">
    <sl-icon name="search" aria-hidden="true" library="default"></sl-icon>
    <span>Search</span>
</button>

<nav>
    <ul>
    {{range .nav.menu}}
        <li>
            <h2 {{if .active}}class="active-section"{{end}}>{{if .href}} <a href="{{.href}}">{{if .title}}{{.title}}{{else}}{{.name}}{{end}}</a> {{else}} {{if .title}}{{.title}}{{else}}{{.name}}{{end}} {{end}}</h2>
            <ul>
                {{range .items}}
                    <li><a href="{{.href}}" {{if .active}}class="active-link"{{end}}>{{.name}}</a></li>
                {{end}}
            </ul>
        </li>
    {{end}}
    </ul>
    <br/>
    <ul>
        <li><a href="/logout">Log out</a></li>
    </ul>
</nav>