<button class="search-box" type="button" title="Press / to search" aria-label="Search" data-plugin="search">
    <sl-icon name="search" aria-hidden="true" library="default"></sl-icon>
    <span>Search</span>
</button>

<nav>
    <ul>
    <li>
        <h2>Getting Started</h2>
        <ul>
            <li>{{ menu .context "/" "Home" }}</li>
            <li><a href="/settings">Default Settings</a></li>
            <li>{{ menu .context "/shell" "Terminal" }}</li>
        </ul>
    </li>
    <li>
        <h2>Setup</h2>
        <ul>
            <li>{{ menu .context "/users" "Users" }}</li>
            <li><a href="/setup/network">Network</a></li>
            <li><a href="/setup/dns">DNS</a></li>
            <li><a href="/setup/reverseproxy">Reverse Proxy</a></li>
        </ul>
    </li>
    <li>
        <h2>Profiles</h2>
        <ul>
            <li>{{ menu .context "/profiles/users" "Users" }}</li>
        </ul>
    </li>
    </ul>
    <br/>
    <ul>
        <li><a href="/logout">Log out</a></li>
    </ul>
    
</nav>